# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Flutter/Dart/Android/iOS
**/build/
**/.dart_tool/
**/.packages
**/.pub-cache/
**/.pub/
**/pubspec.lock
**/android/app/src/main/res/values/secrets.xml
**/android/local.properties
**/android/key.properties
**/*.apk
**/*.aab
**/*.keystore
**/*.jks
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flt
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh

# Ignore built executables and large binaries
*.exe
*.dll
*.so
*.zip
*.7z
*.rar
*.tar.gz
test/Branch_POS/data/
test/Branch_POS/flutter_windows.dll
image/
**/__pycache__/
*.pyc
.omc/
